nav {
    background-color: aqua;
}

img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

ul {
    float: right;
    list-style-type: none;
   
}

li {
    display: inline-block;
    padding: 10px;
    font-size: large;
    cursor: pointer;
} 

#login {
    align-items: center;
    display: inline-grid;
    margin: 15px;
}